
    <div class="relative">
      <div class="chip"><%= image_tag message.user.avatar.url(:medium)%></div>
        <span class="message"> <%= message.content %></span></div>
      <div class="clear"></div>
