<form action="/searches" method="get">
  <input name="keyword" type="text">
  <input type="submit" value="Search">
</form>
<%= link_to "Advance Search", searches_advanced_form_path %>

<h2>cats</h2>
<% @categories.each do |category|%>
  <%= link_to "#{category.name}", boardcategory_boardposts_path(category) %> <br>
<% end  %>
<%= paginate @categories %>
