<h2>posts</h2>

<% @posts.each do |post| %>
  <%= link_to "#{post.title}", boardcategory_boardpost_path(@category, post) %> <br>
<% end %>

<% if @posts.any? %>
  <%= paginate @posts %>
<% end %>

<!-- add auth -->
  <%= link_to "Create Post", new_boardcategory_boardpost_path(@category)%><br>
  <%= link_to "Back to Categories", boardcategories_path %>
