<h2>posts</h2>

<% @posts.each do |post| %>
  <%= link_to "#{post.title}", boardcategory_boardpost(@category, post) %>
<% end %>

<% if @posts.any? %>
  <%= paginate @posts %>
<% end %>

<%= button_to "Create Post", new_boardcategory_boardpost_path(@category)%>
