<div class="slider">
   <ul class="slides">
     <li>
      <%=image_tag "guitar.jpeg"%>
       <div class="caption left-align">
         <h1> <strong class="indigo-text text-lighten-1">Plugged-In </strong> </h1>
         <h3 class="indigo-text text-accent-4">Connect with Other Musicians</h3>
       </div>
     </li>
     <li>
      <%=image_tag "guitar.jpeg"%>
       <div class="caption left-align">
         <h1> <strong class="indigo-text text-lighten-1">Plugged-In </strong> </h1>
         <h3 class="indigo-text text-accent-4">Post Listing for Jam Sessions or Gigs</h3>
       </div>
     </li>
     <li>
      <%=image_tag "guitar.jpeg"%>
       <div class="caption left-align">
         <h1> <strong class="indigo-text text-lighten-1">Plugged-In </strong> </h1>
         <h3 class="indigo-text text-accent-4">The Ultimate Hub for any Musician</h3>
       </div>
     </li>
   </ul>
 </div>
<br>
