<div class="container">
<% @results[:users].each do |user| %>
  <% location = user.find_location %>
  <% if location != nil %>
    <% user.distance = location.distance_to([current_user.latitude, current_user.longitude]) %>
  <% end %>
<% end %>

<% outliers = @results[:users].select { |user| user.distance == nil } %>

<% results = @results[:users].reject { |user| user.distance == nil } %>

<% results.sort! { |a, b| a.distance <=> b.distance } %>


  <ul class="collection with-header">
    <li class="collection-header"><h4>Musicians:</h4></li>
      <% results.each do |user| %>
        <% location = user.find_location %>
          <%=  link_to "#{user.username}", user_path(user), :class => "collection-item" %></a>
            <%= "Distance: " '%.2f' % location.distance_to([current_user.latitude, current_user.longitude]) %>
              <%= " miles" %><br>
                <% end %>
                <% outliers.each do |user| %>
                  <%=  link_to "#{user.username}", user_path(user), :class => "collection-item"%><br>
                            <% end %>
                          </ul>
                        </div>
