<h2>Searched for "<%= @keyword %>" in "<%= @model %>"</h2>

<% if @found %>
  <h3><%= @model.capitalize %>: </h3>
  <% @results.each do |entry| %>
      <%= entry %> <br>
  <% end %>
<% else %>
  <p>No Results Found</p>
<% end %>
