<h2>Searched for "<%= @keyword %>"</h2>

<% if @found %>

  <% if @results[:users].any?%>
    <%= render "searches/users_results" %>
  <% end %>

  <% if @results[:categories].any? %>
    <%= render "searches/categories_results" %>
  <% end %>

  <% if @results[:posts].any? %>
    <%= render "searches/posts_results" %>
  <% end %>

<% else %>
  <p>No Results Found</p>
<% end %>
