.profile{
  position: relative;
  left: 530px;
}

.biocontent{
  position: relative;
  left: 350px;
}

.addmedia{
  position: relative;
  left: 233px;
}

.pagewrapper{
  position: relative;
  left: 220px;

}
